/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

details {
  margin-bottom: 15px;
  border-radius: 5px;
}

details[open] {
  background: #e0f7fa;
}

summary {
  cursor: pointer;
  background: #00796b;
  font-weight: bold;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.details-content {
  width: 300px;
  padding: 10px;
  border: none;
}
